{% extends 'navbar.html' %}

{% block content %}
<div>
    <p style='margin:2%'>
    {% for gamer in gamers %}
    {{ gamer.name }}
    <a href="gamers/update/{{gamer.id}}" >
        <button type="button">Update gamer</button></a> 
    <form method="POST" action="gamers/delete/{{gamer.id}}">
        <button type="submit" value="Submit">Delete gamer!!</button>
    </form>
    <br>
    {% endfor %}
    <br>
    <a href="gamers/add" ><button type="button">Add a gamer</button></a> 
    </p>
</div>
{% endblock %}
