{% extends 'navbar.html' %}

{% block content %}
<div>
    
    {% for gamer in gamers %}
    <p style='margin:0 0 0 2%'>
        <a href="gamers/{{gamer.id}}">{{ gamer.name }}</a>
        <p style='margin:0 0 0 2%'><a href="gamers/update/{{gamer.id}}" >
            <button type="button">Update gamer</button></a>
         </p>
        <form style='margin:0 0 0 2%' method="POST" action="gamers/delete/{{gamer.id}}">
            <button type="submit" value="Submit">Delete gamer!</button>
        </form>
    </p>
    {% endfor %}
    <br>
    <a href="gamers/add" ><button type="button">Add a gamer</button></a> 
</div>
{% endblock %}
