{% extends 'navbar.html' %}

{% block content %}
<div class="form">
    <h2 style="margin:2%">{{page_header}}</h2>
    <form method="POST" action="">
        <p style='margin:2%'>
            {{ form.hidden_tag() }}
            {{ form.name.label }} {{ form.name }}
            <br>
            {{ form.designer.label }} {{ form.designer }}
            <br>
            {{ form.genre.label }} {{ form.genre }}
            <br>
            {{ form.rating.label }} {{ form.rating }}
            <br>
            Gamer: {{ form.gamer_id }}
            <br>
            {{ form.submit }}
        </p>
    </form>
    
</div>
{% endblock %}
